@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1" style="color:red;">!!! Ecpay Test !!!</h1>
</div>

<form asp-controller="Payment" asp-action="CreateOrder" method="post">
    <div class="d-flex justify-content-center">
        <button class="btn btn-warning mt-3" type="submit">成立訂單</button>
    </div>
</form>